@import '../components/Table/Table.scss';
@import '../components/Row/Row.scss';
@import '../components/Brick/Brick.scss';
@import '../components/SelectedElement/SelectedElement.scss';

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
