.selected-element_container {
  border: 1px solid black;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.selected-element__element_pading {
  padding: 5px;
}

.selected-element__element_border {
  border-top: 1px solid black;
}

.selected-title {
  text-align: center;
  font-weight: 500;
}
