.selected-element__container {
  border: 1px solid black;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.selected-element__element {
  &_pading {
    padding: 5px;
  }
  &_border {
    border-top: 1px solid black;
  }
}

.selected-element__title {
  text-align: center;
  font-weight: 500;
}
